<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
      <table class="table table-borderless">
      <th>
        <h4>管理者ログイン</h4>
      </th>
        <tr>
          <td><%= f.label "メールアドレス" %><td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %><td>
        </tr>
        <tr>
          <td><%= f.label "パスワード" %><td>
          <td><%= f.password_field :password, autocomplete: "current-password" %><td>
        </tr>
        <tr>
          <td><td>
          <td><button class="btn btn-primary" type="submit">ログイン</button><td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>