<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h3>注文履歴詳細</h3>
      </br>
      <div class="order-box">
        <strong>注文履歴詳細</strong>
        <table border="1" class="table1">
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>〒<%= @order.postal_code %> <%= @order.address %> <%= @order.name %></td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><%= @order.status_i18n %></td>
          </tr>
        </table>

        <strong>請求情報</strong>
        <table border="1" class="table3">
        <tr>
          <td>商品合計</td>
          <td><% @sum = @order.total_payment.to_i - @order.shipping_cost.to_i %><%= @sum %></td>
        </tr>
        <tr>
          <td>配送料</td>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td>ご請求額</td>
          <td><%= @order.total_payment %></td>
        </tr>
        </table>
      </div>

      </br>

      <strong>注文内容</strong>
      <table border="1" class="order-table">
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
        <% @order.order_details.each do |order_detail| %>
        <% @total = 0 %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.amount %></td>
          <td><% @total += order_detail.price * order_detail.amount %><%= @total %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>